.navbar {
  height: 5vw;
}

.navbar-brand {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 2.7vw;
  color: white;
  margin-left: 2vw;
  padding-bottom: 0.5vw;
}

.navbar-brand:hover {
  color: white;
}

.nav-pills {
  margin-right: 2vw;
  gap: 2vw;
  margin-bottom: 0.5vw;
}
.nav-link:hover {
  color: rgb(255, 255, 255);
}

.nav-item {
  font-size: 2vw;
}

.nav-link {
  color: white;
  font-family: "Bebas Neue";
}
/* Section 1 CSS */
.box {
    width: 90%;
    background-color: lightgreen;
    border: 2px solid black;
    margin: 5vw auto;
    height: 20vw;
    border-radius: 2vw;
    padding: 1vw;
    text-align: center;
    display: block;
}

.box h1 {
    font-size: 3.2vw !important;
}

.box-text {
    font-size: 1.5vw;
}

/* end  of Section 1 */