
.section2{
    border: 1px solid black;
    width: 90%;
    margin: 2vw auto;
    padding: 20px;
    height: 30vh;
    background-color: lightcoral;
    border-radius: 5px;
}

.column{
    display: inline-block;

    margin: -3vw 10px 10vw 10px;
    gap: 5vw;
    border: 1px solid black;
    background-color: white;
    padding: 10px;

}

.columns {
    float: right;
}
.navbar {
  height: 7vw;
}

.navbar-brand {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 2.7vw;
  color: white;
  margin-left: 2vw;
  padding-bottom: 0.5vw;
}

.navbar-brand:hover {
  color: white;
}

.nav-pills {
  margin-right: 36vw;
  margin-top: 1vw;
  gap: 2vw;
  margin-bottom: 0.5vw;
}
.nav-link:hover {
  color: rgb(255, 255, 255);
}

.nav-item {
  font-size: 2vw;
}

.nav-link {
  color: white;
  font-family: "Bebas Neue";
}



/* section5 */

.section5{
  margin-top: 10vw;
  margin-left: 5vw;
  background-color: palevioletred;
  width: 80vw;
  margin: auto ;
  margin-top: 15vw;
}

/* section5 */
/* section4 */
.div-wrapper {
  text-align: center;
  padding: 50px 20px;
  background-color: #e5edf1;
}

.div-image {
  max-width: 100%;
  height: auto;
}

.div-header {
  font-size: 2rem;
  font-weight: bold;
}

.div-text {
  color: #6c757d;
  margin-bottom: 20px;
}

.construction-btn {
  background-color: #007bff;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.construction-btn:hover {
  background-color: #0056b3;
}

.illustration {
  max-width: 400px;
  margin: auto;
}

.construction-icons {
  margin-top: 30px;
}

.construction-icons img {
  max-width: 50px;
  margin: 0 10px;
}
/* section4*/


/* section3 */

#member-image{
  display: flex;
}
.title-section3{
  font-family: "Wendy One";
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-top: 2rem;
}

.card{
  display: inline-block;
  margin: 2rem;
}
/* section3 */

/* Section 1 CSS */
.box {
    width: 90%;
    background-color: lightgreen;
    border: 2px solid black;
    margin: 5vw auto;
    height: 20vw;
    border-radius: 2vw;
    padding: 1vw;
    text-align: center;
    display: block;
}

.box h1 {
    font-size: 3.2vw !important;
}

.box-text {
    font-size: 1.5vw;
}

/* end  of Section 1 */



